input[type=text]{
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
button{
  padding: 10px;
  border-radius: 15px;
  width: 150px;
}
body{
  background-color: #333;
}
p{
 color: #fff;
}
img{
  width: 200px;
  height: 200px;
}
